$alex-color: #272a31;
$primary:       #ec5242;
$secondary:     #d3d3d3;

$body-bg: $secondary;
$body-color: $alex-color;

.btn-primary {
    color: $secondary !important;
}
/*
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;
*/

@import "../node_modules/bootstrap/scss/bootstrap";